@use "../responsive" as *;


.l {
  /* box layout */
  &-box {
    padding:                      2rem;
    margin:                       0 auto;
    
    /* box limit */
    @include xs {
      background-color:           crimson;
      max-width:                  clamp($screen-min, 90%, $s-screen);
    }

    @include s {
      background-color:           yellow;
      max-width:                  clamp($s-screen, 90%, $m-screen);
    }
    @include m {
      background-color:           lightpink;
      max-width:                  clamp($m-screen, 90%, $l-screen);
    }

    @include l {
      background-color:           lightgreen;
      max-width:                  clamp($l-screen, 90%, $xl-screen);
    }

    @include xl {
      background-color:           lightsalmon;
      max-width:                  clamp($xl-screen, 90%, $xxl-screen);
    }

    @include xxl-e {
      background-color:           lightsalmon;
      max-width:                  clamp($xxl-screen, 90%, $screen-max);
    }

    /*end of box limit */
    
    /* box cover */
    &.cover {
      min-width:                100%;
    }

    /*box cover extend */
    &.s--e\:cover {
      @include s-e {
        min-width:              100%;
      }
    }

    &.m--e\:cover {
      @include m-e {
        min-width:              100%;
      }
    }

    &.l--e\:cover {
      @include l-e {
        min-width:              100%;
      }
    }

    &.xl--e\:cover {
      @include xl-e {
        min-width:              100%;
      }
    }

    &.xxl--e\:cover {
      @include xxl-e {
        min-width:              100%;
      }
    }
    /*end of box cover extend */

    /*box cover limit */
    &.xs\:cover {
      @include xs {
        min-width:              100%;
      }
    }

    &.s\:cover {
      @include s {
        min-width:              100%;
      }
    }

    &.m\:cover {
      @include m {
        min-width:              100%;
      }
    }

    &.l\:cover {
      @include l {
        min-width:              100%;
      }
    }

    &.xl\:cover {
      @include xl {
        min-width:              100%;
      }
    }

    &.xxl\:cover {
      @include xxl {
        min-width:              100%;
      }
    }
    /*end of box cover limit */

  }
  /* end of box layout */
}

