@use "../responsive" as *;

.l {
  &-box {
    padding:                      2rem;
    margin:                       0 auto;
    
    /* box limit */
    @include mobile {
      background-color:           crimson;
      max-width:                  clamp(0px, 90%, 600px);
    }

    @include tablet {
      background-color:           yellow;
      max-width:                  clamp(600px, 90%, 800px);
    }
    @include laptop {
      background-color:           lightpink;
      max-width:                  clamp(800px, 90%, 950px);
    }

    @include desktop {
      background-color:           lightgreen;
      max-width:                  clamp(950px, 90%, 1200px);
    }

    @include large-devices {
      background-color:           lightsalmon;
      max-width:                  clamp(1200px, 90%, 1400px);
    }

    /*end box limit */

    /*box cover extend */
    &--cover-extend {
      &-xs {
        @include mobile {
          min-width:                100%;
        }
      }

      &-s {
        @include tablet-extend {
          min-width:                100%;
        }
      }

      &-m {
        @include laptop-extend {
          min-width:                100%;
        }
      }

      &-l {
        @include desktop-extend {
          min-width:                100%;
        }
      }

      &-xl {
        @include desktop-extend {
          min-width:                100%;
        }
      }
    }
    /*end box cover extend */

    /*box cover limit */
    &--cover {
      &-xs {
        @include mobile {
          min-width:                100%;
        }
      }

      &-s {
        @include tablet {
          min-width:                100%;
        }
      }

      &-m {
        @include laptop {
          min-width:                100%;
        }
      }

      &-l {
        @include desktop {
          min-width:                100%;
        }
      }

      &-l {
        @include large-devices {
          min-width:                100%;
        }
      }
    }
    /*end box cover limit */

  }
}
