@use "base";
@use "layout";
@use "responsive" as *;

.btn {
  font-size:                    5rem;
}


%h--400 {
  height:   30rem;
}

.test {
  border: 2px solid black;
}

@for $i from 1 through 10 {
  %width--#{$i * 5} {
    width: clamp(0rem, 100%, $i * 5rem);
  }
}

.l-div {
  @for $i from 1 through 10 {
    & > width--#{$i * 5} {
      @extend %width--#{$i * 5};
    }
  }
}


@for $i from 1 through 10 {
  .width--#{$i * 5} {
    @extend %width--#{$i * 5};
  }
}

.l-div {
  & > .image {
    margin-left:            auto;
    @include xs {
      margin: auto;
      width: 50%;
    }
  }
}

