/* base 16 */
$s-screen-min:                  37.5em;     // 600px
$m-screen-min:                  50em;       // 800px
$l-screen-min:                  68.75em;    // 1100px
$xl-screen-min:                 81.250em;   // 1300px
$xxl-screen-min:                93.750em;   // 1500px

$screen-min:                    0px;
$s-screen:                      600px;
$m-screen:                      800px;
$l-screen:                      1100px;
$xl-screen:                     1300px;
$xxl-screen:                    1500px;
$screen-max:                    1700px;


@mixin xs {  
  @media only screen and (max-width: $s-screen-min) {
    @content;
  }
}

@mixin s-e {  
  @media only screen and (min-width: $s-screen-min) {
    @content;
  }
}

@mixin s {  
  @media only screen 
  and (min-width: $s-screen-min) 
  and (max-width: $m-screen-min){
    @content;
  }
}

@mixin m-e {  
  @media only screen 
  and (min-width: $m-screen-min) {
    @content;
  }
}

@mixin m {  
  @media only screen 
  and (min-width: $m-screen-min) 
  and (max-width: $l-screen-min){
    @content;
  }
}

@mixin l-e {  
  @media only screen and (min-width: $l-screen-min) {
    @content;
  }
}

@mixin l {  
  @media only screen 
  and (min-width: $l-screen-min) 
  and (max-width: $xl-screen-min){
    @content;
  }
}

@mixin xl-e {  
  @media only screen and (min-width: $xl-screen-min) {
    @content;
  }
}

@mixin xl {  
  @media only screen 
  and (min-width: $xl-screen-min) 
  and (max-width: $xxl-screen-min) {
    @content;
  }
}

@mixin xxl {  
  @media only screen
  and (min-width: $xxl-screen-min) 
  and (max-width: $screen-max) {
    @content;
  }
}

@mixin xxl-e {  
  @media only screen and (min-width: $xxl-screen-min) {
    @content;
  }
}
